{% extends "main/layout.html" %}
{% load static %}

{% block imports%}
    <link rel="stylesheet" href="{% static 'main/css/index.css' %}">
    <script src ="{% static 'main/js/script.js' %}" defer></script>
{% endblock%}

{% block body %}
    <div id="main-content">
        <div class="body">
            <div id="category-container">
                <h2 class="selling-text">Sell a</h2>
                <div class="options">
                    <button data-page="laptop" class="btn btn-outline-primary" id="laptop-btn">Laptop</button>
                    <button data-page="desktop" class="btn btn-outline-primary" id="desktop-btn">Desktop</button>
                    <button data-page="camera" class="btn btn-outline-primary" id="camera-btn">Camera</button>
                </div>
            </div>
            <div id="test"></div>
            <div class="forms">
                <div id="laptop">
                    <form class="nice-form" enctype="multipart/form-data" method="post" action="{% url 'main:laptopUpload' %}">
                        {% csrf_token %}
                        {{ laptopForm }}
                        <input type="file" name="upload" accept="image/*" id="laptop_image" required>
                        <input type="submit" id="laptop_submit" class="btn btn-primary">
                    </form>
                </div>
                <div id="desktop">
                    <form class="nice-form" enctype="multipart/form-data" method="post" action="{% url 'main:desktopUpload' %}">
                        {% csrf_token %}
                        {{ desktopForm }}
                        <input type="file" name="upload" accept="image/*" id="desktop_image">
                        <input type="submit" id="desktop_submit" class="btn btn-primary">
                    </form>
                </div>
                <div id="camera">
                    <form class="nice-form" enctype="multipart/form-data" method="post" action="{% url 'main:cameraUpload' %}">
                        {% csrf_token %}
                        {{ cameraForm }}
                        <input type="file" name="upload" accept="image/*" id="camera_image">
                        <input type="submit" id="camera_submit" class="btn btn-primary">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}